cursor_accounts.txt
dist/cursor_accounts.txt
dist/CursorFreeVIP_1.3.02_windows.exe
dist/settings.json
.idea/cursor-free-vip.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations/main.xml
.idea/vcs.xml
.vscode/launch.json
__pycache__/browser.cpython-311.pyc
__pycache__/browser.cpython-312.pyc
__pycache__/control.cpython-311.pyc
__pycache__/control.cpython-312.pyc
__pycache__/cursor_auth.cpython-311.pyc
__pycache__/cursor_auth.cpython-312.pyc
__pycache__/cursor_register.cpython-311.pyc
__pycache__/cursor_register.cpython-312.pyc
__pycache__/logo.cpython-311.pyc
__pycache__/logo.cpython-312.pyc
__pycache__/main.cpython-311.pyc
__pycache__/main.cpython-312.pyc
__pycache__/new_signup.cpython-311.pyc
__pycache__/new_signup.cpython-312.pyc
__pycache__/new_tempemail.cpython-311.pyc
__pycache__/new_tempemail.cpython-312.pyc
__pycache__/quit_cursor.cpython-311.pyc
__pycache__/reset_machine_manual.cpython-311.pyc
__pycache__/reset_machine_manual.cpython-312.pyc
README.en.md.txt
